{% extends 'base.html.twig' %}

{% block title %}Taches{% endblock %}

{% block body %}
<div class="container mt-5">
        <div class="row text-right">
            <div class="col-11 mt-5">
            <h1>Taches</h1>
            </div>
            <div class="col-1 float-right mt-5">
                {% if is_granted("ROLE_MANAGER") %}
                    <a  href="{{ path('app_tache_new')}}"><button type="button"  
                        class="btn btn-primary btn-sm">
                            Add</button> </a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Tache</th>
                            <th scope="col" class="text-center">Etat</th>
                            <th scope="col" class="text-center">Projet</th>
                            <th scope="col" class="text-center">Phase</th>
                            <th scope="col" class="text-center">Employe</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tache in taches %}
                        {% set url= path ('app_tache_show', {id: tache.id}) %}
                            <tr class="table-primary">
                                <th scope="row" class="text-center"> <a href="{{ url }}">{{tache.title}}</a></th>
                                <td class="text-center">{{ tache.status }}</td>
                                <td class="text-center"><a href="{{ path('app_projet_show',{"id": tache.phase.projet.id}) }}">{{ tache.phase.projet.intitule }}</a></td>
                                <td class="text-center">{{tache.phase.intitule}}</td>
                                <td class="text-center">{{tache.user.LastName}} {{tache.user.FirstName}}</td>
                                <td class="text-center"> 
                                    <a class="btn btn-primary btn-sm" 
                                    href="{{ path('app_tache_show',{"id": tache.id}) }}" role="button">
                                    <i class="fa fa-info"></i></a>
                                    {% if is_granted("ROLE_MANAGER") %}
                                    <a class="btn btn-success btn-sm" 
                                        href="{{ path('app_tache_edit',{"id": tache.id}) }}" role="button">
                                        <i class="fa fa-edit"></i></a>
                                        {{ include('tache/_delete_form.html.twig') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
        </div>
    </div>  
{% endblock %}
