{% extends 'base.html.twig' %}

{% block title %}My Tasks{% endblock %}

{% block body %}
<div class="container mt-5">
        <div class="row text-right">
            <div class="col-11 mt-5">
            <h1>Taches</h1>
            </div>
        </div>
        <div class="row mt-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Tache</th>
                            <th scope="col" class="text-center">Etat</th>
                            <th scope="col" class="text-center">Priorité</th>
                            <th scope="col" class="text-center">Projet</th>
                            <th scope="col" class="text-center">Phase</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tache in taches %}
                        {% set url= path ('app_tache_show', {id: tache.id}) %}
                            <tr class="table-primary">
                                <th scope="row" class="text-center"> <a href="{{ url }}">{{tache.title}}</a></th>
                                <td class="text-center">{{ tache.status }}</td>
                                <td class="text-center">{{ tache.priorite }}</td>
                                <td class="text-center"><a href="{{ path('app_projet_show',{"id": tache.phase.projet.id}) }}">{{ tache.phase.projet.intitule }}</a></td>
                                <td class="text-center">{{tache.phase.intitule}}</td>
                                <td class="text-center"> 
                                    <a class="btn btn-primary btn-sm" 
                                    href="{{ path('app_tache_show',{"id": tache.id}) }}" role="button">
                                    <i class="fa fa-info"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
        </div>
    </div> 
    
{% endblock %}