{% extends 'base.html.twig' %}

{% block title %}Tache{% endblock %}

{% block body %}
    <h1>Tache</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ tache.title }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ tache.status }}</td>
            </tr>
            <tr>
                <th>Projet</th>
                <td>{{tache.phase.projet.intitule}}</td>
            </tr>
            <tr>
                <th>Phase</th>
                <td>{{tache.phase.intitule}}</td>
            </tr>
            <tr>
                <th>Priorite</th>
                <td>{{ tache.priorite }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ tache.dateDebut }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ tache.dateFin }}</td>
            </tr>
            <tr>
                <th>DateAffectation</th>
                <td>{{ tache.dateAffectation }}</td>
            </tr>
            <tr>
                <th>DateModif</th>
                <td>{{ tache.dateModif }}</td>
            </tr>
        </tbody>
    </table>

<h2>Livrables</h2>
<table class="table">
    <thead>
    <tr>

        <th>Intitule</th>
        <th>Document</th>
        {% if is_granted("ROLE_DEV") and tache.status == "In Progress" %}
            <td>Actions</td>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for liv in livrable %}
    <tr>
        <td>{{ liv.intitule }}</td>
        <td><a download href="{{  ('uploads/fichiers/' ~ liv.DocFile) }}">Telecharger(PDF)</a></td>
        {% if is_granted("ROLE_DEV") and tache.status == "In Progress" %}
            <td> {{ include('tache/_delete_livrable.html.twig') }} </td>
        {% endif %}
    </tr>

    {% endfor %}
    </table>
    <a href="{{ path('app_tache_index') }}">back to list</a>
    
    <a href="{{ path('app_tache_edit', {'id': tache.id}) }}">edit</a>
    {% if is_granted("ROLE_DEV") and tache.status == "In Progress" %}
        <a href="{{ path('app_livrable_new',{'id':tache.id }) }}">Add liv</a>
    {% endif %}
    {% if is_granted("ROLE_DEV") and tache.status == "Open" %} 
       <a href="{{ path('app_tache_start', {'id': tache.id}) }}"><button type="button" class="btn btn-primary btn-sm">Start Tache</button></a>
     {% endif %}
     {% if is_granted("ROLE_DEV") and tache.status == "In Progress" and livrable != null %} 
       <a href="{{ path('app_tache_end', {'id': tache.id}) }}"><button type="button" class="btn btn-primary btn-sm">End Tache</button></a>
     {% endif %}
    

    {{ include('tache/_delete_form.html.twig') }}
{% endblock %}
