{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}

<div class="container mt-5">
        <div class="row text-right">
            <div class="col-11 mt-5">
            <h1>Projets</h1>
            </div>
            <div class="col-1 float-right mt-5">
                {% if is_granted("ROLE_OWNER") %}
                    <a  href="{{ path('app_projet_new')}}"><button type="button"  
                        class="btn btn-primary btn-sm">
                            Add</button> </a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Intitule</th>
                            <th scope="col" class="text-center">Etat</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for projet in projets %}
                        {% set url= path ('app_projet_show', {id: projet.id}) %}
                            <tr class="table-primary">
                                <th scope="row" class="text-center"> <a href="{{ url }}">{{projet.intitule}}</a></th>
                                <td class="text-center">{{ projet.etat }}</td>
                                <td class="text-center"> 
                                    <a class="btn btn-primary btn-sm" 
                                    href="{{ path('app_projet_show',{"id": projet.id}) }}" role="button">
                                    <i class="fa fa-info"></i></a>
                                    <a class="btn btn-success btn-sm" 
                                    href="{{ path('app_projet_edit',{"id": projet.id}) }}" role="button">
                                    <i class="fa fa-edit"></i></a>
                                    {{ include('projet/_delete_form.html.twig') }}
                                    {# <a class="btn btn-danger btn-sm" 
                                    href="{{ path('app_client_delete',{"id": client.id}) }}" role="button">
                                    <i class="fa fa-trash"></i></a> #}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
        </div>
    </div>  
    {# <h1>Projets</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Intitule</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Budget</th>
                <th>Etat</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
               
                <td>{{ projet.intitule }}</td>
                <td>{{ projet.dateDebut is empty ? "" : projet.dateDebut|date("d/m/Y") }}</td>
                <td>{{ projet.dateFin is empty ? "" : projet.dateFin|date("d/m/Y") }}</td>
                <td>{{ projet.budget }}</td>
                <td>{{ projet.etat }}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.Categorie }}</td>
                <td>
                    <a href="{{ path('app_projet_show', {'id': projet.id}) }}">show</a>
                    <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_OWNER") %} 
        <a href="{{ path('app_projet_new') }}">Create new</a>
     {% endif %} #}
    
{% endblock %}
