{% extends 'base.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block body %}
    <h1>Projets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Budget</th>
                <th>Etat</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.intitule }}</td>
                <td>{{ projet.dateDebut }}</td>
                <td>{{ projet.dateFin }}</td>
                <td>{{ projet.budget }}</td>
                <td>{{ projet.etat }}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.Categorie }}</td>
                <td>
                    <a href="{{ path('app_projet_show', {'id': projet.id}) }}">show</a>
                    <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# {% if is_granted("ROLE_OWNER") %} #}
        <a href="{{ path('app_projet_new') }}">Create new</a>
    {# {% endif %} #}
    
{% endblock %}
