{% extends 'base.html.twig' %}

{% block title %}{{projet.intitule}}{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-6 mt-2">
                <h2 class="display-4 mt-5"> {{ projet.intitule | upper}} </h2>
                <small></small>
                <hr>
            </div>
        </div>
        <div class="row border rounded">
            <div class="col-6 text-center">
                <h6>Categorie: {{ projet.Categorie }}<h6>
                <h6>Budget: {{ projet.budget }}<h6>
                <h6>Etat: {{ projet.etat }}<h6>
            </div>
            <div class="col-6  text-center">
                <h6>Date Debut: {{ projet.dateDebut }}<h6>
                <h6>Date Fin: {{ projet.dateFin }}<h6> 
                <h6>Description: {{ projet.description }}<h6> 
            </div>
        </div>
        <div class="row">
            <div class="col-10 mt-3">
                <a href="{{ path('app_projet_index') }}">
                <button type="button" class="btn btn-primary btn-sm">Return</button></a>
            </div>
            <div class="col-2 mt-3">
                <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">
                <button type="button"  class="btn btn-success btn-sm">Edit</button></a>

                <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">
                <button type="button"  class="btn btn-danger btn-sm">Remove</button></a>

                    {{ include('projet/_delete_form.html.twig') }} 
            </div>
        </div>
        <hr class=" mx-auto w-25 p-1" style="background-color: #ADB5BD;" >

        <h2>Employees</h2>
            <div class="row mb-3">
                <a href="{{ path('app_user_projet_assoc' , {"id": projet.id}) }}"><button type="button"  
                        class="btn btn-primary btn-sm">
                            Add Employe</button> </a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {# {% for movieCast in movieCasts %} #}
                        <tr class="table-primary">
                            <th scope="row"> 
                            <a href=""><img class="float-left mr-3"  src="" 
                                alt="image" style="width:100px;height:100px;"/></a></th>
                            <td><a href="#"></a></td>
                            <td></td>
                            
                            <td> 
                                <a class="btn btn-primary btn-sm" 
                                href="#" role="button">
                                chi l3ba
                                </a>
                                <a class="btn btn-danger btn-sm" 
                                href="#" role="button">
                                Retirer</a>
                            </td>
                        </tr>
                    {# {% endfor %} #}
                </tbody>
            </table> 
    </div>
{% endblock %}
