{% extends 'base.html.twig' %}

{% block title %}{{projet.intitule}}{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-6 mt-2">
                <h2 class="display-4 mt-5"> {{ projet.intitule | upper}} </h2>
                <small></small>
                <hr>
            </div>
        </div>
        <div class="row border rounded">
            <div class="col-6 text-center">
                <h6>Categorie: {{ projet.Categorie }}<h6>
                <h6>Budget: {{ projet.budget }}<h6>
                <h6>Etat: {{ projet.etat }}<h6>
            </div>
            <div class="col-6  text-center">
                <h6>Date Debut: {{ projet.dateDebut is empty ? "" : projet.dateDebut|date("d/m/Y") }}<h6>
                <h6>Date Fin: {{ projet.dateFin is empty ? "" : projet.dateFin|date("d/m/Y") }}<h6> 
                <h6>Client: {{ projet.client.ClientNom }} {{ projet.client.ClientPrenom }}<h6> 
                <h6>Description: {{ projet.description }}<h6> 
            </div>
        </div>
        <div class="row">
            <div class="col-10 mt-3">
                <a href="{{ path('app_projet_index') }}">
                <button type="button" class="btn btn-primary btn-sm">Return</button></a>
    
                {% if is_granted("ROLE_OWNER") and projet.etat == "Open" %}
                    <a href="{{ path('app_projet_launch' , {'id': projet.id}) }}">
                    <button type="button" class="btn btn-success btn-sm">Launch</button></a>
                {% endif %}

                {% if is_granted("ROLE_OWNER") and projet.etat == "In Progress" %}
                    <a href="{{ path('app_projet_finish' , {'id': projet.id}) }}">
                    <button type="button" class="btn btn-success btn-sm">Cloturer</button></a>
                {% endif %}
                {% if is_granted("ROLE_OWNER") and projet.etat != "Finished" and projet.etat != "Cancelled" %}
                    <a href="{{ path('app_projet_cancel' , {'id': projet.id}) }}">
                    <button type="button" class="btn btn-danger btn-sm">Cancel</button></a>
                {% endif %}

            </div>
            <div class="col-2 mt-3">
            {% if is_granted("ROLE_OWNER") %}
                <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">
                <button type="button"  class="btn btn-success btn-sm"> <i class="fa fa-edit"></i></button></a>

                    {{ include('projet/_delete_form.html.twig') }} 
            {% endif %}
            </div>
        </div>
        <hr class=" mx-auto w-25 p-1" style="background-color: #ADB5BD;" >
        {% if is_granted("ROLE_OWNER")  or is_granted("ROLE_MANAGER") %}
                <h2>Employees</h2>
                <div class="row mb-3">
                {% if is_granted("ROLE_OWNER") and projet.etat == "In Progress" %}
                    <a href="{{ path('app_user_projet_assoc' , {"id": projet.id}) }}"><button type="button"  
                            class="btn btn-primary btn-sm">
                                Add Employe</button> </a>
                {% endif %}
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Photo</th>
                            <th scope="col">Employe</th>
                            <th scope="col">FullName</th>
                            <th scope="col">Role</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                            
                            <tr class="table-primary">
                                {% if employee.user.image == null %}
                                    {% if employee.user.sexe == 'M' %}
                                        <th style="vertical-align:middle;" scope="row">
                                        <img src="{{ asset('/ProfileImg/M.jpeg') }}" width="75"
                                            height="75" class=" float-left mr-3 img-fluid my-2 rounded-circle" ></th>
                                    {% else %}
                                        <th style="vertical-align:middle;" scope="row">
                                        <img src="{{ asset('/ProfileImg/F.png') }}" width="75"
                                            height="75" class=" float-left mr-3 img-fluid my-2 rounded-circle"></th>
                                    {% endif %}

                                {% else %}
                                    <th scope="row">
                                        <img src="{{ asset('/ProfileImg/'~employee.user.image) }}" width="75"
                                            height="75" class="img-fluid my-2 rounded-circle" ></th>
                                {% endif %}
                                
                                <td style="vertical-align:middle;">{{employee.user.username}}</a></td>
                                <td style="vertical-align:middle;">{{employee.user.LastName}} {{employee.user.FirstName}}</td>
                                <td style="vertical-align:middle;">{{employee.RoleInProjet}}</td>
                                <td style="vertical-align:middle;"> 
                                    <a class="btn btn-primary btn-sm" 
                                    href="{{ path('security_users_show' , {"id": employee.user.id})  }}" role="button">
                                    <i class="fa fa-info"></i>
                                    </a>
                                    {% if is_granted("ROLE_OWNER")  and projet.etat == "In Progress" %}
                                    <a class="btn btn-danger btn-sm" 
                                    href="{{ path('app_user_projet_retirer' , {"id": employee.id})  }}" role="button">
                                    <i class="fa fa-remove"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% endif %}


        <h2>Phases</h2>
        <div class="row mb-3">
                {% if is_granted("ROLE_MANAGER") and projet.etat == "In Progress" %}
                    <a href="{{ path('app_phase_new') }}"><button type="button"  
                            class="btn btn-primary btn-sm">
                                Add Phase</button> </a>
                {% endif %}
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Intitule</th>
                <th scope="col">Statut</th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for phase in phases %}
                <tr class="table-primary">

                    <td>{{phase.intitule}}</td>
                    <td>{{phase.status}}</td>

                    <td>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('app_phase_show' , {"id": phase.id})  }}" role="button">
                            <i class="fa fa-info"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
