{% extends 'base.html.twig' %}

{% block title %}Ajouter un Livrable{% endblock %}

{% block body %}


<div class="container mt-5">
    <div class="row">
        <div class="col mt-5">
            <div class="mb-4">
                <h1 >Ajouter Livrable</h1>
            </div>

            {{ form_start(form) }}
            <label>Intitule</label>
            {{form_row(form.intitule  , {'label': ' '})}}</br>
            <label>Docuement</label>
            {{ form_row(form.DocFile ,  {'label': ' '}) }}</br>

            
            <button class="btn btn-primary btn-sm">{{ button_label|default('Upload') }}</button>
            {{ form_end(form) }}
        </div>
    </div>

   
</div>
{% endblock %}
