<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}EPM
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		 {% block stylesheets %}{% endblock %}
		</head>
		<body>
		
			<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"  >
				<div class="container-fluid m-auto">
					<div class="row" class="float-left">
						<div class="col mt-2" style="vertical-align:middle;">
							<a class="navbar-brand" style="vertical-align:middle;" href="{{ path('app_home')}}">EPM</a>
							{# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
								data-bs-target="#navbarColor03" >
								<span class="navbar-toggler-icon"></span>
							</button> #}
						</div>
							<div class="col-9 ">
							{% if app.user %}
							<form action="{{ path('search') }}" method="get" class="d-flex">
							<input class="form-control me-sm-2" type="search" placeholder="Search For projects" aria-label="Search"  id="projer" name="proj">
							<button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
							</form>
							{% endif %}
						</div>
												
											
					</div>
					<div class="row" class="float-right"> 
						<div class="collapse navbar-collapse"  id="navbarColor03" >
							<div> 
								<ul class="navbar-nav me-auto">
										<li class="nav-item">
											<a class="nav-link active" href="{{ path('app_home')}}">Home
											</a>
										</li>
										{% if app.user %}
											<li class="nav-item">
												<a class="nav-link" href="{{ path('security_profile') }}">Profile</a>
											</li>
											{% if is_granted("ROLE_OWNER") or is_granted("ROLE_MANAGER") %}
												<li class="nav-item">
													<a class="nav-link" href="{{ path('security_users')}}">Users
													</a>
												</li>
											{% endif %}
											{% if is_granted("ROLE_OWNER") %}
											<li class="nav-item">
												<a class="nav-link" href="{{ path('app_client_index')}}">Clients
												</a>
											</li>
											{% endif %}
											{% if is_granted("ROLE_OWNER") or is_granted("ROLE_MANAGER") or is_granted("ROLE_DEV") %}
											<li class="nav-item">
												<a class="nav-link" href="{{ path('app_projet_index')}}">Projets
												</a>
											</li>
											{% endif %}
											{% if is_granted("ROLE_OWNER") or is_granted("ROLE_MANAGER") %}
												<li class="nav-item">
													<a class="nav-link" href="{{ path('app_phase_index')}}">Phases
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{{ path('app_tache_index')}}">Taches
													</a>
												</li>
											{% endif %}
											{% if is_granted("ROLE_DEV") %}
												<li class="nav-item">
													<a class="nav-link" href="{{ path('app_tache_mytasks')}}">Taches
													</a>
												</li>
											{% endif %}
										{% endif %}
									{% if not app.user %}
										<li class="nav-item">
											<a class="nav-link" href="{{ path('security_login') }}">Sign In</a>
										</li>

										<li class="nav-item">
											<a class="nav-link" href="{{ path('security_registration') }}">Sign Up</a>
										</li>
										{% else %}
									<li class="nav-item">
										<a class="nav-link" href="{{ path('security_logout') }}">Logout</a>
									</li>
									{% endif %}
								</ul>	
						   </div>
						</div>
					</div>
				</div>
			</nav>
        
			{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" 
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
			crossorigin="anonymous"></script>
			<script
			src="/js/bootstrap.min.js"/>
		{# <script src="/js/bootstrap.min.js"/> #}
		</body>
	</html>
