{{ form_start(form) }}
    <div class="row">
        </div class="col-6 text-center">
            <label>Projet:</label>
            {{form_row(form.projet , {'label': ' '})}}</br>
            <label>Intitule:</label>
            {{form_row(form.intitule , {'label': ' '})}}</br>
            <label>Description:</label>
            {{form_row(form.description , {'label': ' '})}}</br>
        </div>
    </div>
    <a href="{{ path('app_phase_index') }}">Return</a> &nbsp;
    <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
    
{{ form_end(form) }}
