{% extends 'base.html.twig' %}

{% block title %}Phase index{% endblock %}

{% block body %}
    <h1>Phase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Status</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for phase in phases %}
            <tr>
                <td>{{ phase.id }}</td>
                <td>{{ phase.intitule }}</td>
                <td>{{ phase.status }}</td>
                <td>{{ phase.dateDebut }}</td>
                <td>{{ phase.dateFin }}</td>
                <td>
                    <a href="{{ path('app_phase_show', {'id': phase.id}) }}">show</a>
                    <a href="{{ path('app_phase_edit', {'id': phase.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_phase_new') }}">Create new</a>
{% endblock %}
